body{
color: rgb(32, 27, 37);
background:rgb(224, 24, 57);

}
header{
  border-bottom: solid 2px rgb(rgb(255, 0, 191));
  padding: 20px;
  font-size: 32px;
  color: lightskyblue;
  background: rgb(255, 0, 217);
}
.chamada{
    background: rgb(0, 38, 255);
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
.chamada-text{
    margin: right 5%;
}
p{
    text-align:center;
    font-size: 20px;
}