body{
color: rgb(32, 27, 37);
background:pink;

}
header{
  border-bottom: solid 2px rgb(rgb(255, 0, 191));
  padding: 20px;
  font-size: 32px;
  color: lightskyblue;
  background: lime;
}
.chamada{
    background: orange;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}
p{
    text-align:center;
    font-size: 10px;
}